body {
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
}

h1 {
    color: white;
    font-size: 24px;
    font-weight: 600;
    background-color: #2880b9;
    margin: 0;
    padding: 5px 20px;
    text-transform: uppercase;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    height: 40px;
    background-color: #fff;
    font-weight: 600;
    line-height: 40px;
    color: #656;
}

li:hover span {
    width: 40px;
    opacity: 1;
}

li:nth-child(2n) {
    background-color: #f7f7f7;
}

input {
    color: #2980b9;
    background-color: #f7f7f7;
    font-size: 18px;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    transition: 0.5s ease;
    border: 3px solid rgba(0, 0, 0, 0);
}

input:hover {
    border: 2px solid #2980b9;
}

input:focus {
    outline: none;
    border: 5px solid #2980b9;
}

span {
    background: #e74c3c;
    height: 40px;
    width: 0;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    color: white;
    transition: 0.5s linear;
    opacity: 0;
}

.fa-plus {
    float: right;
}

.done {
    text-decoration: line-through;
    opacity: 0.5;
}

.hidden {
    display: none;
}

#container {
    width: 360px;
    margin: 100px auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}